<h1>Create a New Song</h1>

<form action="/song" method="post">
  <label for="song_name">Name</label>
  <input type="text" name="song[name]" id="song_name">

  <br><br>

  <label for="artists_name">Artist Name</label>
  <input type="text" name="artist[name]" id="artists_name">

  <br><br>

  <label>Genres</label>

  <br><br>

  <% Genre.all.each do |genre| %>
    <label for="genres"><%=genre.name%></label>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><br>
  <% end %>

  <br><br>

  <input type="submit" value="Create">
</form>
